
.edit-btn{
background-color: skyblue;
}

.delete-btn{
background-color:#ff534f;
}

.submit-btn{
  background-color:skyblue;
}


header {
  background:#f5f5f5;
  color: #522323;
  padding: 1rem 2rem;
  font-family: sans-serif;
  top: 0;
 
} 